version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: college_recruit_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: complex_password_123
      POSTGRES_DB: college_recruit
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: